# Advanced Usage
Using AnnSQL, we will demonstrate extended functionality and how to perform the following operations:

- Determine total counts per cell library
- Calculate total gene counts
- Normalize the counts to 10,000 reads per cell.
- Log transform the counts.
- Calculate the top 2000 highly variable genes.

###  Install the AnnSQL package

```bash
pip install annsql
```

### Import libraries, build, then open the database

In [1]:
from AnnSQL import AnnSQL
from MakeDb import MakeDb
import scanpy as sc
import os
adata = sc.datasets.pbmc3k()
adata.var_names_make_unique()
if os.path.exists("db/pbmc3k.asql"):
	os.remove("db/pbmc3k.asql")
MakeDb(adata=adata, db_name="pbmc3k", db_path="db/")
adata_sql = AnnSQL(db="db/pbmc3k.asql")

Time to make var_names unique:  18.767115592956543
Time to create X table schema:  0.24080705642700195
Time to insert X data:  9.258856296539307

### Calculate total counts per cell

In [2]:
adata_sql.calculate_total_counts(chunk_size=950) #if system memory is low, lower chunks to <=200

Total Counts Calculation Started
Total Counts Calculation Complete

### View the total counts

In [3]:
adata_sql.query("SELECT total_counts FROM X ORDER BY total_counts DESC LIMIT 5 ")

   total_counts
0       15844.0
1       15301.0
2       10783.0
3       10359.0
4       10282.0

### Calculate counts per gene

In [4]:
adata_sql.calculate_gene_counts(chunk_size=950)

Updating Var Table
Update Query Error: Binder Error: Table "var" does not have a column with name "gene_counts"
Gene Counts Calculation Started
Gene Counts Calculation Complete

### View the gene counts

In [5]:
adata_sql.query("SELECT * FROM var ORDER BY gene_counts DESC LIMIT 5 ")

          gene_ids gene_names_orig gene_names  gene_counts
0  ENSG00000251562          MALAT1     MALAT1     161685.0
1  ENSG00000205542          TMSB4X     TMSB4X     124210.0
2  ENSG00000166710             B2M        B2M     121363.0
3  ENSG00000147403           RPL10      RPL10      88517.0
4  ENSG00000167526           RPL13      RPL13      77111.0

### Normalize cell expression counts to 10,000

In [6]:
#lower chunk_size if system memory is low. Max supported chunk_size is 950 (DuckDB limitation)
adata_sql.expression_normalize(chunk_size=950)

Expression Normalization Started
Expression Normalization Complete

### View a normalized gene

In [7]:
adata_sql.query("SELECT RER1 FROM X ORDER BY RER1 DESC LIMIT 5 ")

         RER1
0  219.324249
1  204.081635
2   35.587189
3   18.939394
4   17.401392

### Log transform the expression values

In [8]:
adata_sql.expression_log(log_type="LOG2", chunk_size=950) #LOG2 or LOG10

Log Transform Started
Log Transform Complete

### Examine a log transformed value

In [9]:
adata_sql.query("SELECT RER1 FROM X ORDER BY RER1 DESC LIMIT 5 ")

       RER1
0  7.776922
1  7.673003
2  5.153286
3  4.243319
4  4.121131

### Calculate Highly Variable Genes

In [10]:
adata_sql.calculate_variable_genes(chunk_size=950)

Updating Var Table
Update Query Error: Binder Error: Table "var" does not have a column with name "variance"
Variance Calculation Complete

### View the top 50 highly variable genes

In [11]:
adata_sql.query("SELECT * FROM var ORDER BY variance DESC LIMIT 50 ")

           gene_ids gene_names_orig gene_names  gene_counts    variance
0   ENSG00000204287         HLA-DRA    HLA_DRA      16467.0  111.171577
1   ENSG00000011600          TYROBP     TYROBP       9381.0  107.384903
2   ENSG00000101439            CST3       CST3      11857.0  107.361053
3   ENSG00000090382             LYZ        LYZ      27666.0  107.279701
4   ENSG00000100097          LGALS1     LGALS1       8055.0  106.759933
5   ENSG00000163220          S100A9     S100A9      16326.0  105.228394
6   ENSG00000223865        HLA-DPB1   HLA_DPB1       7817.0  104.762688
7   ENSG00000196126        HLA-DRB1   HLA_DRB1       6829.0  104.746109
8   ENSG00000231389        HLA-DPA1   HLA_DPA1       6980.0  104.061783
9   ENSG00000008517            IL32       IL32       5708.0  102.100822
10  ENSG00000163131            CTSS       CTSS       5466.0   99.912094
11  ENSG00000167286            CD3D       CD3D       4000.0   99.723969
12  ENSG00000163191         S100A11    S100A11       5246.0   99.707069
13  ENSG00000130066            SAT1       SAT1       7425.0   99.053444
14  ENSG00000204472            AIF1       AIF1       6090.0   98.495972
15  ENSG00000197746            PSAP       PSAP       4609.0   98.351776
16  ENSG00000158869          FCER1G     FCER1G       5498.0   96.815857
17  ENSG00000084207           GSTP1      GSTP1       3672.0   96.735641
18  ENSG00000204482            LST1       LST1       5863.0   96.373497
19  ENSG00000198851            CD3E       CD3E       2831.0   95.801888
20  ENSG00000103187           COTL1      COTL1       8075.0   95.578957
21  ENSG00000122862            SRGN       SRGN       5112.0   95.219879
22  ENSG00000233276            GPX1       GPX1       3471.0   95.109932
23  ENSG00000170296         GABARAP    GABARAP       2928.0   94.991829
24  ENSG00000187608           ISG15      ISG15       3228.0   94.770676
25  ENSG00000121966           CXCR4      CXCR4       4140.0   94.498955
26  ENSG00000100906          NFKBIA     NFKBIA       2753.0   94.257256
27  ENSG00000179144          GIMAP7     GIMAP7       3007.0   94.175827
28  ENSG00000135046           ANXA1      ANXA1       4273.0   94.039459
29  ENSG00000126264            HCST       HCST       2848.0   94.032143
30  ENSG00000161570            CCL5       CCL5       5491.0   94.020805
31  ENSG00000185885          IFITM1     IFITM1       2407.0   93.897545
32  ENSG00000100300            TSPO       TSPO       2651.0   93.870689
33  ENSG00000002586            CD99       CD99       2414.0   93.533203
34  ENSG00000119655            NPC2       NPC2       3129.0   93.491676
35  ENSG00000188404            SELL       SELL       2351.0   93.341553
36  ENSG00000104964             AES        AES       2377.0   93.321999
37  ENSG00000145287           PLAC8      PLAC8       2454.0   93.205070
38  ENSG00000158710          TAGLN2     TAGLN2       2588.0   93.193192
39  ENSG00000005022         SLC25A5    SLC25A5       2728.0   93.192123
40  ENSG00000196405             EVL        EVL       2572.0   93.099823
41  ENSG00000111669            TPI1       TPI1       2625.0   93.011688
42  ENSG00000143933           CALM2      CALM2       2821.0   92.932571
43  ENSG00000182718           ANXA2      ANXA2       2724.0   92.924889
44  ENSG00000160255           ITGB2      ITGB2       2431.0   92.917213
45  ENSG00000162704           ARPC5      ARPC5       2691.0   92.878304
46  ENSG00000100911           PSME2      PSME2       2964.0   92.866951
47  ENSG00000169230         PRELID1    PRELID1       2579.0   92.853233
48  ENSG00000133321         RARRES3    RARRES3       2274.0   92.678169
49  ENSG00000204387         C6orf48    C6orf48       2676.0   92.676727