# Advanced Usage
Using AnnSQL, we will demonstrate extended functionality and how to perform the following operations:

- Determine total counts per cell library
- Calculate total gene counts
- Normalize the counts to 10,000 reads per cell.
- Log transform the counts.
- Calculate the top highly variable genes.

###  Install the AnnSQL package

```bash
pip install annsql
```

### Import libraries, build, then open the database

In [1]:
from AnnSQL import AnnSQL
from AnnSQL.MakeDb import MakeDb
import scanpy as sc
import os
adata = sc.datasets.pbmc3k()
adata.var_names_make_unique()
if os.path.exists("db/pbmc3k.asql"):
	os.remove("db/pbmc3k.asql")
MakeDb(adata=adata, db_name="pbmc3k", db_path="db/")
asql = AnnSQL(db="db/pbmc3k.asql")

Time to make var_names unique:  18.618839740753174
Time to create X table structure:  0.2079753875732422
Time to insert X data:  7.7958338260650635

### Calculate total counts per cell

In [2]:
asql.calculate_total_counts(chunk_size=950) #if system memory is low, lower chunks to <=200

Total Counts Calculation Started
Total Counts Calculation Complete

### View the total counts

In [3]:
asql.query("SELECT total_counts FROM X ORDER BY total_counts DESC LIMIT 5 ")

   total_counts
0       15844.0
1       15301.0
2       10783.0
3       10359.0
4       10282.0

### Calculate counts per gene

In [4]:
asql.calculate_gene_counts(chunk_size=950)

Updating Var Table
Gene Counts Calculation Started
Gene Counts Calculation Complete

### View the gene counts

In [5]:
asql.query("SELECT * FROM var ORDER BY gene_counts DESC LIMIT 5 ")

          gene_ids gene_names_orig gene_names  gene_counts
0  ENSG00000251562          MALAT1     MALAT1     161685.0
1  ENSG00000205542          TMSB4X     TMSB4X     124210.0
2  ENSG00000166710             B2M        B2M     121363.0
3  ENSG00000147403           RPL10      RPL10      88517.0
4  ENSG00000167526           RPL13      RPL13      77111.0

### Normalize cell expression counts to 10,000

In [6]:
#lower chunk_size if system memory is low. Max supported chunk_size is 950 (DuckDB limitation)
asql.expression_normalize(chunk_size=950)

Expression Normalization Started
Expression Normalization Complete

### View a normalized gene

In [7]:
asql.query("SELECT RER1 FROM X ORDER BY RER1 DESC LIMIT 5 ")

         RER1
0  219.324249
1  204.081635
2   35.587189
3   18.939394
4   17.401392

### Log transform the expression values

In [8]:
asql.expression_log(log_type="LOG2", chunk_size=950) #LN, LOG2 or LOG10

Log Transform Started
Log Transform Complete

### Examine a log transformed value

In [9]:
asql.query("SELECT RER1 FROM X ORDER BY RER1 DESC LIMIT 5 ")

       RER1
0  7.783484
1  7.680055
2  5.193267
3  4.317550
4  4.201743

### Calculate Highly Variable Genes

In [10]:
asql.calculate_variable_genes(chunk_size=950)

Updating Var Table
Variance Calculation Complete

### View the top 50 highly variable genes

In [11]:
asql.query("SELECT * FROM var ORDER BY variance DESC LIMIT 50 ")

           gene_ids gene_names_orig gene_names  gene_counts  variance
0   ENSG00000090382             LYZ        LYZ      27666.0  7.490790
1   ENSG00000163220          S100A9     S100A9      16326.0  6.883412
2   ENSG00000204287         HLA-DRA    HLA_DRA      16467.0  6.731869
3   ENSG00000101439            CST3       CST3      11857.0  6.039524
4   ENSG00000011600          TYROBP     TYROBP       9381.0  5.810699
5   ENSG00000143546          S100A8     S100A8       8515.0  5.380419
6   ENSG00000105374            NKG7       NKG7       7165.0  5.095940
7   ENSG00000100097          LGALS1     LGALS1       8055.0  5.019437
8   ENSG00000019582            CD74       CD74      23018.0  4.922016
9   ENSG00000161570            CCL5       CCL5       5491.0  4.770338
10  ENSG00000196154          S100A4     S100A4      19598.0  4.728503
11  ENSG00000223865        HLA-DPB1   HLA_DPB1       7817.0  4.680644
12  ENSG00000227507             LTB        LTB      10602.0  4.668255
13  ENSG00000196126        HLA-DRB1   HLA_DRB1       6829.0  4.534322
14  ENSG00000231389        HLA-DPA1   HLA_DPA1       6980.0  4.424806
15  ENSG00000204472            AIF1       AIF1       6090.0  4.308175
16  ENSG00000204482            LST1       LST1       5863.0  4.183353
17  ENSG00000008517            IL32       IL32       5708.0  4.152575
18  ENSG00000130066            SAT1       SAT1       7425.0  4.121985
19  ENSG00000158869          FCER1G     FCER1G       5498.0  4.112757
20  ENSG00000103187           COTL1      COTL1       8075.0  3.972188
21  ENSG00000197956          S100A6     S100A6      11311.0  3.844954
22  ENSG00000163131            CTSS       CTSS       5466.0  3.694696
23  ENSG00000163191         S100A11    S100A11       5246.0  3.612443
24  ENSG00000085265            FCN1       FCN1       4189.0  3.602202
25  ENSG00000087086             FTL        FTL      74702.0  3.545497
26  ENSG00000177606             JUN        JUN       7301.0  3.441030
27  ENSG00000167286            CD3D       CD3D       4000.0  3.433211
28  ENSG00000197746            PSAP       PSAP       4609.0  3.322162
29  ENSG00000122862            SRGN       SRGN       5112.0  3.317290
30  ENSG00000213402         PTPRCAP    PTPRCAP       4613.0  3.291318
31  ENSG00000109475           RPL34      RPL34      20745.0  3.256776
32  ENSG00000026025             VIM        VIM      10135.0  3.248005
33  ENSG00000121966           CXCR4      CXCR4       4140.0  3.216078
34  ENSG00000233276            GPX1       GPX1       3471.0  3.144240
35  ENSG00000115523            GNLY       GNLY       4250.0  3.125993
36  ENSG00000198899         MT-ATP6    MT_ATP6       6311.0  3.107841
37  ENSG00000171223            JUNB       JUNB      18863.0  3.105973
38  ENSG00000111716            LDHB       LDHB       5324.0  3.105177
39  ENSG00000084207           GSTP1      GSTP1       3672.0  3.094225
40  ENSG00000197747         S100A10    S100A10       5070.0  3.082115
41  ENSG00000198712          MT-CO2     MT_CO2      19084.0  3.080251
42  ENSG00000128016           ZFP36      ZFP36       5783.0  3.050912
43  ENSG00000185201          IFITM2     IFITM2       6133.0  3.041385
44  ENSG00000025708            TYMP       TYMP       3246.0  3.018162
45  ENSG00000135046           ANXA1      ANXA1       4273.0  2.981240
46  ENSG00000051523            CYBA       CYBA      10411.0  2.962124
47  ENSG00000160888            IER2       IER2       4193.0  2.929677
48  ENSG00000160932            LY6E       LY6E       4940.0  2.903890
49  ENSG00000245532           NEAT1      NEAT1       4482.0  2.893545